

<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <title>Conveyance Transport Bootstrap Responsive Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Conveyance Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'commencify/commencify_home/css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'commencify/commencify_home/css/style.css' %}" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'commencify/commencify_home/css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
   <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<!-- //Fonts -->

</head>

<body>
  <script>
	{% for msg in messages %}
		alert('{{ msg }}');
	{% endfor %}
</script>
    <!-- mian-content -->
    <section class="main-content" id="home">
        <!-- /header -->
        <header>
            <div class="container-fluid px-lg-5 px-3">
                <!-- nav -->
                <nav class="py-2 d-lg-flex">
                    <div id="logo">
                        <h1><a class="navbar-brand logo" href="/commencify_home/">
                                 COMMENCIFY
                            </a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu ml-auto">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/explore_req/">Explore Requirements</a></li>
                        <li><a href="/process_req/">Requirement Analysis</a></li>
                        <li><a href="/c_result/">Result Visualization</a></li>
<!--                        <li>-->
<!--                            &lt;!&ndash; First Tier Drop Down &ndash;&gt;-->
<!--                            <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>-->
<!--                            <a href="#">More Info <span class="fa fa-angle-down" aria-hidden="true"></span></a>-->
<!--                            <input type="checkbox" id="drop-2" />-->
<!--                            <ul class="inner-ul">-->
<!--                                <li><a href="#gallery">Gallery</a></li>-->
<!--                                <li><a href="#stats">Stats</a></li>-->
<!--                                <li><a href="#posts">Blog</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
                        <li><a href="/commencify_logout/">Logout</a></li>
                    </ul>

                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

        <div class="csslider infinity" id="slider1">
            <input type="radio" name="slides" checked="checked" id="slides_1" />
            <input type="radio" name="slides" id="slides_2" />
            <input type="radio" name="slides" id="slides_3" />
            <input type="radio" name="slides" id="slides_4" />
            <ul>
                <li>
                    <div id="bg">
                        <div class="banner-info-wthree">
                            <div class="container">
                                <h3>Nature's alchemy turns a seed into the silent strength of a tree</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="bg1">
                        <div class="banner-info-wthree">
                            <div class="container">
                                <h3>From earth to timber, the journey of a tree is a testament to resilience</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="bg2">
                        <div class="banner-info-wthree">
                            <div class="container">
                                <h3>A tree's journey begins in the soil and branches out to touch the sky</h3>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="bg3">
                        <div class="banner-info-wthree">
                            <div class="container">
                                <h3>From a tiny seed to a towering tree, nature's miracle unfolds</h3>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="arrows">
                <label for="slides_1"></label>
                <label for="slides_2"></label>
                <label for="slides_3"></label>
                <label for="slides_4"></label>
            </div>
            <div class="navigation">
                <div>
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                    <label for="slides_4"></label>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </section>
    <!--// mian-content -->
    <!--/ about -->
    <section class="about py-5" id="about">
        <div class="container py-3">
            <div class="header py-lg-5 py-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3">About Commencify</h3>
            </div>
            <div class="row about-grids mt-lg-5">
                <div class="col-lg-6 ab-info">
                    <h4 class="mb-3">Each leaf, each branch, each ring in a tree's core narrates the tale of its journey –
                        a journey that connects the past, present, and future
                    </h4>
                    <p>The journey of a tree begins with a tiny seed, planted in the rich soil of the Earth.
                        As it absorbs sunlight and water, the seed sprouts into a delicate sapling, reaching for the sky.
                        Over the years, this sapling grows into a magnificent tree, its roots firmly anchored in the ground.
                        The journey from a small seed to a useful resource highlights the incredible life cycle of trees and their vital role in sustaining both the environment and human life.

                    </p>
                </div>
                <div class="col-lg-6 ab-img">
					<img class="img-fluid" src="{% static 'commencify/commencify_home/images/1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--// about -->
    <!--/services -->
    <section class="blog_hcls_w3layouts py-lg-5 py-md-4" id="services">
        <div class="container py-sm-5 py-4">
            <div class="header py-lg-5 py-3 text-center">
                <h3 class="tittle mb-lg-3 mb-3">Origination</h3>
            </div>
            <div class="row mt-lg-5 mt-md-4 mt-4">
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-leaf mb-2"></span>
                                <h6 class="my-3">A Leaf,</h6>
                                <h5 class="card-title">The artisan of sunlight,</h5>
                                <p class="card-text">
                                    Weaving the energy of the sun into the fabric of life, whispering the story of growth and renewal with every flutter in the breeze...</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">

                                <span class="fa fa-tree mb-2"></span>
                                <h6 class="my-3">The Tree,</h6>
                                <h5 class="card-title">A Stoic Philosopher,</h5>
                                <p class="card-text">Wears the scars of seasons past in its rings.
                                    Each ring echoes a tale of endurance, adapting to the ebb and flow of time with grace...</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 about-in text-left">
                        <div class="card">
                            <div class="card-body">
                                <span class="fa fa-globe fa-green mb-2"></span>
                                <h6 class="my-3">The Globe</h6>
                                <h5 class="card-title">As trees take root and leaves unfold,</h5>
                                <p class="card-text">A universal story of growth is written. The origination process of trees transcends borders,
                                    painting the world with the vibrant hues of sustainability and life...</p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-4 about-in text-left">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <span class="fa fa-eco mb-2"></span>-->
<!--                                <h6 class="my-3">Consectetur elit</h6>-->
<!--                                <h5 class="card-title">Supply</h5>-->
<!--                                <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="col-lg-4 about-in text-left">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <span class="fa fa-compass mb-2"></span>-->

<!--                                <h6 class="my-3">Consectetur elit</h6>-->
<!--                                <h5 class="card-title">Fast &amp; On Time</h5>-->
<!--                                <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="col-lg-4 about-in text-left">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <span class="fa fa-money mb-2"></span>-->
<!--                                <h6 class="my-3">Consectetur elit</h6>-->
<!--                                <h5 class="card-title">Weather Insurance</h5>-->
<!--                                <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
        </div>
    </section>
    <!--// services -->
    <!--/counter-->
<!--    <section class="stats py-lg-5 py-4" id="stats">-->
<!--        <div class="container">-->
<!--            <div class="row text-center">-->
<!--                <div class="col-md counter-gd-w3ls">-->
<!--                    <div class="counter">-->
<!--						<span class="fa fa-thumbs-o-up mb-2"></span>-->
<!--                        <h3 class="timer count-title count-number">250</h3>-->
<!--                        <p class="count-text">Projects Done</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md counter-gd-w3ls">-->
<!--                    <div class="counter">-->
<!--						<span class="fa fa-smile-o mb-2"></span>-->
<!--                        <h3 class="timer count-title count-number">600</h3>-->
<!--                        <p class="count-text">Happy Clients</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md counter-gd-w3ls">-->
<!--                    <div class="counter">-->
<!--						<span class="fa fa-users mb-2"></span>-->
<!--                        <h3 class="timer count-title count-number">900</h3>-->
<!--                        <p class="count-text">Team Workers</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md counter-gd-w3ls">-->
<!--                    <div class="counter">-->
<!--						<span class="fa fa-trophy mb-2"></span>-->
<!--                        <h3 class="timer count-title count-number">7</h3>-->
<!--                        <p class="count-text">Years of Experience</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;//counter&ndash;&gt;-->
<!--    &lt;!&ndash;/team &ndash;&gt;-->
<!--    <section class="blog_hcls_w3layouts py-lg-5 py-5" id="team">-->
<!--        <div class="container py-sm-5 py-4">-->
<!--            <div class="header py-lg-5 py-3 text-center">-->
<!--                <h3 class="tittle mb-lg-3 mb-3">We Offered Services</h3>-->
<!--            </div>-->
<!--            <div class="feature-grids row text-center">-->
<!--                <div class="col-lg-6 photo-gd">-->
<!--                    <div class="thumbnail card">-->
<!--                        <div class="img-event">-->
<!--                            <img class="list-group-image img-fluid" src="{% static 'commencify/commencify_home/images/team1.jpg' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="caption card-body p-lg-5 p-3">-->
<!--                            <h4 class="group card-title inner list-group-item-heading">-->
<!--                                Expert Staff</h4>-->
<!--                            <p class="list-group-item-text">-->
<!--                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6 photo-gd">-->
<!--                    <div class="thumbnail card">-->
<!--                        <div class="img-event">-->
<!--                            <img class="list-group-image img-fluid" src="{% static 'commencify/commencify_home/images/team2.jpg' %}" alt="">-->
<!--                        </div>-->
<!--                        <div class="caption card-body p-lg-5 p-3">-->
<!--                            <h4 class="group card-title inner list-group-item-heading">-->
<!--                                Trucking Services</h4>-->
<!--                            <p class="list-group-item-text">-->
<!--                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;// services &ndash;&gt;-->
<!--    &lt;!&ndash; Gallery &ndash;&gt;-->
<!--    <section class="gallery py-5" id="gallery">-->
<!--        <div class="container py-lg-5 py-3">-->
<!--            <div class="header py-lg-5 py-3 text-center">-->
<!--                <h3 class="tittle mb-lg-3 mb-3"> Our Work</h3>-->
<!--            </div>-->
<!--            <div class="row news-grids text-center">-->
<!--                <div class="col-md-4 gal-img">-->
<!--                    <a href="#gal1"><img src="{% static 'commencify/commencify_home/images/1.jpg' %}" alt="news image" class="img-fluid"></a>-->
<!--                    <a href="#gal2"><img src="{% static 'commencify/commencify_home/images/2.jpg' %}" alt="news image" class="img-fluid"></a>-->
<!--                </div>-->
<!--                <div class="col-md-4 gal-img">-->
<!--                    <a href="#gal3"><img src="{% static 'commencify/commencify_home/images/3.jpg' %}" alt="news image" class="img-fluid"></a>-->

<!--                    <a href="#gal4"><img src="{% static 'commencify/commencify_home/images/4.jpg' %}" alt="news image" class="img-fluid"></a>-->
<!--                </div>-->
<!--                <div class="col-md-4 gal-img">-->
<!--                    <a href="#gal5"><img src="{% static 'commencify/commencify_home/images/5.jpg' %}" alt="news image" class="img-fluid"></a>-->
<!--                    <a href="#gal6"><img src="{% static 'commencify/commencify_home/images/6.jpg' %}" alt="news image" class="img-fluid"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; popup&ndash;&gt;-->
<!--        <div id="gal1" class="pop-overlay animate">-->
<!--            <div class="popup">-->
<!--                <img src="{% static 'commencify/commencify_home/images/1.jpg' %}" alt="Popup Image" class="img-fluid" />-->
<!--                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>-->
<!--                <a class="close" href="#gallery">&times;</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; //popup &ndash;&gt;-->
<!--        &lt;!&ndash; popup&ndash;&gt;-->
<!--        <div id="gal2" class="pop-overlay animate">-->
<!--            <div class="popup">-->
<!--                <img src="{% static 'commencify/commencify_home/images/2.jpg' %}" alt="Popup Image" class="img-fluid" />-->
<!--                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>-->
<!--                <a class="close" href="#gallery">&times;</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; //popup &ndash;&gt;-->
<!--        &lt;!&ndash; popup&ndash;&gt;-->
<!--        <div id="gal3" class="pop-overlay animate">-->
<!--            <div class="popup">-->
<!--                <img src="{% static 'commencify/commencify_home/images/3.jpg' %}" alt="Popup Image" class="img-fluid" />-->
<!--                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>-->
<!--                <a class="close" href="#gallery">&times;</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; //popup3 &ndash;&gt;-->
<!--        &lt;!&ndash; popup&ndash;&gt;-->
<!--        <div id="gal4" class="pop-overlay animate">-->
<!--            <div class="popup">-->
<!--                <img src="{% static 'commencify/commencify_home/images/4.jpg' %}" alt="Popup Image" class="img-fluid" />-->
<!--                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>-->
<!--                <a class="close" href="#gallery">&times;</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; //popup &ndash;&gt;-->
<!--        &lt;!&ndash; popup&ndash;&gt;-->
<!--        <div id="gal5" class="pop-overlay animate">-->
<!--            <div class="popup">-->
<!--                <img src="{% static 'commencify/commencify_home/images/5.jpg' %}" alt="Popup Image" class="img-fluid" />-->
<!--                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>-->
<!--                <a class="close" href="#gallery">&times;</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; //popup &ndash;&gt;-->
<!--        &lt;!&ndash; popup&ndash;&gt;-->
<!--        <div id="gal6" class="pop-overlay animate">-->
<!--            <div class="popup">-->
<!--                <img src="{% static 'commencify/commencify_home/images/6.jpg' %}" alt="Popup Image" class="img-fluid" />-->
<!--                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>-->
<!--                <a class="close" href="#gallery">&times;</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; //popup &ndash;&gt;-->
<!--    </section>-->
<!--    &lt;!&ndash;// gallery &ndash;&gt;-->
<!--	&lt;!&ndash; newsletter &ndash;&gt;-->
<!--    <section class="newslett py-5">-->
<!--        <div class="container">-->
<!--            <div class="header py-lg-5 py-3">-->
<!--                <h3 class="tittle text-center mb-lg-3 mb-3"> Subscribe Now</h3>-->
<!--            </div>-->
<!--            <div class="contact-form mx-auto text-left pb-3">-->
<!--                <form id="contactform" method="post" action="#">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-4 con-gd-w3layouts">-->
<!--                            <div class="form-group">-->
<!--                                <label>Name *</label>-->
<!--                                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 con-gd-w3layouts">-->
<!--                            <div class="form-group">-->
<!--                                <label>Email *</label>-->
<!--                                <input type="email" class="form-control" id="name" placeholder="Enter Email" name="email">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-4 con-gd-w3layouts">-->
<!--                            <div class="form-group">-->
<!--                                <label>Subscribe *</label>-->
<!--                                <button type="submit" class="btn btn-default">Subscribe</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; //newsletter &ndash;&gt;-->
<!--    &lt;!&ndash; blog &ndash;&gt;-->
<!--    <section class="blog_hcls_w3layouts py-lg-5 py-md-4" id="posts">-->
<!--        <div class="container py-sm-5 py-4">-->
<!--            <div class="header py-lg-5 py-3 text-center">-->
<!--                <h3 class="tittle mb-lg-3 mb-3"> Blog Posts</h3>-->
<!--            </div>-->
<!--            <div class="row mt-4">-->
<!--                &lt;!&ndash; blog grid &ndash;&gt;-->
<!--                <div class="col-lg-6  mt-lg-5 mt-4 mx-auto">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header p-0 position-relative">-->
<!--                            <a href="single.html">-->
<!--                                <img class="card-img-bottom " src="{% static 'commencify/commencify_home/images/1.jpg' %}" alt="Card image cap">-->
<!--                                -->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="blog-title card-title font-weight-bold">-->
<!--                                <a href="single.html">Lorem Ipsum Dolor Sit Amet</a>-->
<!--                            </h5>-->
<!--                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,sed diam nonumy.</p>-->
<!--                            <div class="blog-user-info d-flex my-3">-->
<!--                                <label class=""> <span class="fa fa-user mr-3"></span> Admin</label>-->
<!--                                <label class="mx-3"> <span class="fa fa-clock-o mr-3"></span> 08:35 PM</label>-->
<!--                                <label class=""> <span class="fa fa-calendar mr-3"></span> 08.10.2019</label>-->
<!--                            </div>-->
<!--                            <a href="single.html" class="btn blog-btn h_care-bnr-btn">  -->
<!--                                Read more-->
<!--                           </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; //blog grid &ndash;&gt;-->
<!--                &lt;!&ndash; blog grid &ndash;&gt;-->
<!--                <div class="col-lg-6  mt-lg-5 mt-4 mx-auto">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header p-0 position-relative">-->
<!--                            <a href="single.html">-->
<!--                                <img class="card-img-bottom" src="{% static 'commencify/commencify_home/images/4.jpg' %}" alt="Card image cap">-->
<!--                                -->

<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="blog-title card-title font-weight-bold">-->
<!--                                <a href="single.html">Lorem Ipsum Dolor Sit Amet</a>-->
<!--                            </h5>-->
<!--                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,sed diam nonumy.</p>-->
<!--                            <div class="blog-user-info d-flex my-3">-->
<!--                                <label class=""> <span class="fa fa-user mr-3"></span> Admin</label>-->
<!--                                <label class="mx-3"> <span class="fa fa-clock-o mr-3"></span> 08:35 PM</label>-->
<!--                                <label class=""> <span class="fa fa-calendar mr-3"></span> 08.10.2019</label>-->
<!--                            </div>-->
<!--                            <a href="single.html" class="btn blog-btn h_care-bnr-btn">  -->
<!--                                Read more-->
<!--                           </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; //blog grid &ndash;&gt;-->
<!--                &lt;!&ndash; blog grid &ndash;&gt;-->
<!--                <div class="col-lg-6 my-lg-5 my-4 mx-auto">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header p-0 position-relative">-->
<!--                            <a href="single.html">-->
<!--                                <img class="card-img-bottom" src="{% static 'commencify/commencify_home/images/5.jpg' %}" alt="Card image cap">-->
<!--                                -->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="blog-title card-title font-weight-bold">-->
<!--                                <a href="single.html">Lorem Ipsum Dolor Sit Amet</a>-->
<!--                            </h5>-->
<!--                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,sed diam nonumy.</p>-->
<!--                            <div class="blog-user-info d-flex my-3">-->
<!--                                <label class=""> <span class="fa fa-user mr-3"></span> Admin</label>-->
<!--                                <label class="mx-3">  <span class="fa fa-clock-o mr-3"></span> 08:35 PM</label>-->
<!--                                <label class=""> <span class="fa fa-calendar mr-3"></span> 08.10.2019</label>-->
<!--                            </div>-->
<!--                            <a href="single.html" class="btn blog-btn h_care-bnr-btn">  -->
<!--                                Read more-->
<!--                           </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; //blog grid &ndash;&gt;-->
<!--				&lt;!&ndash; blog grid &ndash;&gt;-->
<!--                <div class="col-lg-6 my-lg-5 my-4 mx-auto">-->
<!--                    <div class="card">-->
<!--                        <div class="card-header p-0 position-relative">-->
<!--                            <a href="single.html">-->
<!--                                <img class="card-img-bottom" src="{% static 'commencify/commencify_home/images/team1.jpg' %}" alt="Card image cap">-->
<!--                                -->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="blog-title card-title font-weight-bold">-->
<!--                                <a href="single.html">Lorem Ipsum Dolor Sit Amet</a>-->
<!--                            </h5>-->
<!--                            <p>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit ametLorem ipsum dolor sit amet,sed diam nonumy.</p>-->
<!--                            <div class="blog-user-info d-flex my-3">-->
<!--                                <label class=""> <span class="fa fa-user mr-3"></span> Admin</label>-->
<!--                                <label class="mx-3">  <span class="fa fa-clock-o mr-3"></span> 08:35 PM</label>-->
<!--                                <label class=""> <span class="fa fa-calendar mr-3"></span> 08.10.2019</label>-->
<!--                            </div>-->
<!--                            <a href="single.html" class="btn blog-btn h_care-bnr-btn">  -->
<!--                                Read more-->
<!--                           </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; //blog grid &ndash;&gt;-->
<!--                &lt;!&ndash; pop-blog &ndash;&gt;-->
<!--                &lt;!&ndash; //pop-blog &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; //blog &ndash;&gt;-->
<!--  -->
<!--    -->
<!--    &lt;!&ndash; footer &ndash;&gt;-->
<!--    <footer class="footer-content py-sm-5 py-4">-->
<!--        <div class="container py-xl-5 py-lg-3">-->
<!--            <div class="contact_grid_left">-->
<!--                <ul class="list-unstyled row loaction-content">-->
<!--                    <li class="col-lg-4 address-content-inf-w3ls">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-3 icon-left">-->
<!--                                <span class="fa fa-home"></span>-->
<!--                            </div>-->
<!--                            <div class="col-md-9 icon-right">-->
<!--                                <h6>Address</h6>-->
<!--                                <p>The company name-->
<!--                                    <br>New York City. </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="col-lg-4 address-content-inf-w3ls">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-3 icon-left">-->
<!--                                <span class="fa fa-envelope"></span>-->
<!--                            </div>-->
<!--                            <div class="col-md-9 icon-right">-->
<!--                                <h6>Email</h6>-->
<!--                                <a href="mailto:info@example.com">mail@example.com</a>-->
<!--                                <br>-->
<!--                                <a href="mailto:info@example.com">mail2@example.com</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="col-lg-4 address-content-inf-w3ls">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-3 icon-left">-->
<!--                                <span class="fa fa-phone"></span>-->
<!--                            </div>-->
<!--                            <div class="col-md-9 icon-right">-->
<!--                                <h6>Phone Number</h6>-->
<!--                                <p>+ 1234567890</p>-->
<!--                                <p>+ 0987654321</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            
            <!-- social icons footer -->
<!--            <div class="w3ls-footer text-center mt-4">-->
<!--                <ul class="list-unstyled">-->
<!--                    <li>-->
<!--                        <a href="#">-->
<!--							<span class="fa fa-facebook-f"></span>-->
<!--						</a>-->
<!--                    </li>-->
<!--                    <li class="mx-1">-->
<!--                        <a href="#">-->
<!--							<span class="fa fa-twitter"></span>-->
<!--						</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#">-->
<!--							<span class="fa fa-dribbble"></span>-->
<!--						</a>-->
<!--                    </li>-->
<!--                    <li class="ml-1">-->
<!--                        <a href="#">-->
<!--							<span class="fa fa-vk"></span>-->
<!--						</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
            <!-- copyright -->

            <div class="top_move text-center">
                <a href="#home" class="move-top"><span class="fa fa-angle-up  mb-3" aria-hidden="true"></span></a>
            </div>
            <!-- //copyright -->
        </div>
    </footer>
    <!-- footer -->
</body>

</html>
