<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Table 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'scientist/checkpoints/css/style.css' %}">




	  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Green Life web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/bootstrap.css' %}">
	<!-- Bootstrap-css -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/style.css' %}" type="text/css" media="all" />
	<!-- Style-css -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/font-awesome.css' %}">
	<!-- Font-Awesome-Icons-css -->
	<link href="{% static 'scientist/scientist_home/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Popup css (for Video Popup) -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/lightbox.css' %}" type="text/css" media="all">
	<!-- Lightbox css (for Projects) -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/flexslider.css' %}" type="text/css" media="screen" property="" />
	<!-- Flexslider css (for Testimonials) -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Economica:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Rasa:300,400,500,600,700" rel="stylesheet">
	<!-- //web-fonts -->


	</head>
    <style>
		.button-18 {
  align-items: center;
  background-color:#6B492B;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #2A7E19;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}




</style>
	<body style="background-image: url({% static 'images/banner5.jpg' %}); background-repeat:no-repeat;">
	  <script>
	{% for msg in messages %}
		alert('{{ msg }}');
	{% endfor %}
</script>
	<div class="main-agile">
		<!-- banner -->
		<div class="agile-top">
			<div class="col-xs-4 logo">
				<h1>
					<a href="/scientist_home/">
						<span>G</span>reen
						<span>L</span>ife</a>
				</h1>
			</div>
			<div class="col-xs-6 header-w3l">
				<ul>
					<li>
						<a href="#" data-toggle="modal" >
							<span  aria-hidden="true"></span> Greenery </a>
					</li>
					<li>
						<a href="#" data-toggle="modal" >
							<span  aria-hidden="true"></span> Woodland </a>
					</li>
				</ul>
			</div>
			<!-- navigation -->
			<div class="col-xs-2 menu">
				<a href="" id="menuToggle">
					<span class="navClosed"></span>
				</a>
				<nav>
					<a href="/scientist_home/">Home</a>
					<a href="/scientist_requirement/" >Requirements</a>
					<a href="/checkpoints/" >CheckPoints</a>

					<a href="/scientist_logout/" >Logout</a>
				</nav>
			</div>
			<!-- //navigation -->
		</div>
	</div>


<br><br><br><br>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h1  style="color:white;">STATUS UPDATE</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th style="text-align:center; background-color:#6B492B;">S ID</th>
						      <th style="text-align:center;background-color:#6B492B;">NAME</th>
						      <th style="text-align:center;background-color:#6B492B;">PHONE NUMBER</th>
						      <th style="text-align:center;background-color:#6B492B;">EMAIL</th>
								 <th style="text-align:center;background-color:#6B492B;">ACTION</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>

						      <th style="text-align:center;">{{data.s_id}}</th>
						      <td style="text-align:center;">{{data.name}}</td>
						      <td style="text-align:center;">{{data.phone}}</td>
						      <td style="text-align:center;">{{data.email}}</td>

								{% if h is False %}
								<td style="text-align:center;"><a href="#"><button class="button-18" style="background-color:#27221c;height:30px;width:100px;" role="button">{{data.status}}</button></a></td>
								{% endif %}


								{% if h is True %}
    {% if data1 %}
        <td style="text-align:center;">
            <center>
                {% for item in data1 %}
                    {% if item.cp_final_report %}
                        <a href="{{ item.cp_final_report.url }}" target="_blank" download="">
                            <button class="button-18" onclick="openMinimizedWindow('{{ i.cp_final_report.url }}')">Download Report</button>
                        </a>
                    {% endif %}
                {% endfor %}
            </center>
        </td>
    {% endif %}
{% endif %}





						    </tr>

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'scientist/checkpoints/js/jquery.min.js' %}"></script>
  <script src="{% static 'scientist/checkpointsjs/popper.js' %}"></script>
  <script src="{% static 'scientist/checkpointsjs/bootstrap.min.js' %}"></script>
  <script src="{% static 'scientist/checkpointsjs/main.js' %}"></script>




		<script src="{% static 'scientist/scientist_home/js/jquery-2.1.4.min.js' %}"></script>
	<!-- //jquery -->

	<script src="{% static 'scientist/scientist_home/js/bootstrap.js' %}"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!--  light box js -->
	<script src="{% static 'scientist/scientist_home/js/lightbox-plus-jquery.min.js' %}"></script>
	<!-- //light box js-->

	<!-- stats numscroller-js-file -->
	<script src="{% static 'scientist/scientist_home/js/numscroller-1.0.js' %}"></script>
	<!-- //stats numscroller-js-file -->

	<!-- Baneer-js -->
	<script src="{% static 'scientist/scientist_home/js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- //Baneer-js -->

	<!-- navigation -->
	<script>
		(function ($) {
			// Menu Functions
			$(document).ready(function () {
				$('#menuToggle').click(function (e) {
					var $parent = $(this).parent('.menu');
					$parent.toggleClass("open");
					var navState = $parent.hasClass('open') ? "hide" : "show";
					$(this).attr("title", navState + " navigation");
					// Set the timeout to the animation length in the CSS.
					setTimeout(function () {
						console.log("timeout set");
						$('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
					}, 200);
					e.preventDefault();
				});
			});
		})(jQuery);
	</script>
	<!-- //navigation -->

	<!-- pop-up(for video popup)-->
	<script src="{% static 'scientist/scientist_home/js/jquery.magnific-popup.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box (syllabus section video)-->

	<!-- video js (background) -->
	<script src="{% static 'scientist/scientist_home/js/jquery.vide.min.js' %}"></script>
	<!-- //video js (background) -->

	<!-- smoothscroll -->
	<script src="{% static 'scientist/scientist_home/js/SmoothScroll.min.js' %}"></script>
	<!-- //smoothscroll -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- start-smooth-scrolling -->
	<script src="{% static 'scientist/scientist_home/js/move-top.js' %}"></script>
	<script src="{% static 'scientist/scientist_home/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth scrolling-bottom-to-top -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling-bottom-to-top -->

	<!-- flexSlider (for testimonials) -->
	<script defer src="{% static 'scientist/scientist_home/js/jquery.flexslider.js' %}"></script>
	<script>
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	</body>
</html>

