
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Auditions Registration Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auditions Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="{% static 'scientist/scientist_requirement/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'scientist/scientist_requirement/js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Anton&amp;subset=latin-ext,vietnamese" rel="stylesheet">







	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Green Life web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->
	<!-- css files -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/bootstrap.css' %}">
	<!-- Bootstrap-css -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/style.css' %}" type="text/css" media="all" />
	<!-- Style-css -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/font-awesome.css' %}">
	<!-- Font-Awesome-Icons-css -->
	<link href="{% static 'scientist/scientist_home/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Popup css (for Video Popup) -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/lightbox.css' %}" type="text/css" media="all">
	<!-- Lightbox css (for Projects) -->
	<link rel="stylesheet" href="{% static 'scientist/scientist_home/css/flexslider.css' %}" type="text/css" media="screen" property="" />
	<!-- Flexslider css (for Testimonials) -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Economica:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Rasa:300,400,500,600,700" rel="stylesheet">
	<!-- //web-fonts -->

<style>
    .dropbtn {
      background-color: #04AA6D;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .dropbtn:hover,
    .dropbtn:focus {
      background-color: #3e8e41;
    }

    #myInput {
      box-sizing: border-box;
      background-image: url('searchicon.png');
      background-position: 14px 12px;
      background-repeat: no-repeat;
      font-size: 16px;
      padding: 14px 20px 12px 45px;
      border: none;
      border-bottom: 1px solid #ddd;
    }

    #myInput:focus {
      outline: 3px solid #ddd;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f6f6f6;
      min-width: 230px;
      overflow: auto;
      border: 1px solid #ddd;
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown a:hover {
      background-color: #ddd;
    }

    .show {
      display: block;
    }
  </style>
</head>
<body style="background-image: url({% static 'images/banner5.jpg' %}); background-repeat:no-repeat;">

<script>
	{% for msg in messages %}
		alert('{{ msg }}');
	{% endfor %}
</script>
	<div class="main-agile">
		<!-- banner -->
		<div class="agile-top">
			<div class="col-xs-4 logo">

			</div>
			<div class="col-xs-6 header-w3l">
<!--				<ul>-->
<!--					<li>-->
<!--						<a href="#" data-toggle="modal" >-->
<!--							<span  aria-hidden="true"></span> Greenery </a>-->
<!--					</li>-->
<!--					<li>-->
<!--						<a href="#" data-toggle="modal" >-->
<!--							<span  aria-hidden="true"></span> Woodland </a>-->
<!--					</li>-->
<!--				</ul>-->
			</div>
			<!-- navigation -->
			<div class="col-xs-2 menu">
				<a href="" id="menuToggle">
					<span class="navClosed"></span>
				</a>
				<nav>
					<a href="/scientist_home/">Home</a>
					<a href="/scientist_requirement/" >Requirements</a>
					<a href="/checkpoints/">CheckPoints</a>

					<a href="/scientist_logout/" >Logout</a>
				</nav>
			</div>
			<!-- //navigation -->
		</div>
	</div>




<!-- banner -->

	<div class="center-container">
	<div class="banner-dott">
		<div class="main">

			<h1 class="w3layouts_head">REQUIREMENT FORM</h1>
			<br>
				<div class="w3layouts_main_grid">
					<form action="/scientist_requirement/" method="post" class="w3_form_post">
						{% csrf_token %}
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Client ID</label>
								<input type="text" value="{{ s_id}}"  autocomplete="off" required="">
							</span>
						</div>


						<div class="w3_agileits_main_grid w3l_main_grid">
    <span class="agileits_grid">
        <label for="sampleType">Tree Species</label>
        <select  name="tree_species" id="tree_species" required="" autocomplete="off" style="outline: none;
    width: 68%;
    background: rgba(255, 255, 255, 0.17);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(152, 149, 149, 0.42);">
			<option value="none" selected="" disabled="">Tree Species</option>
         <option value="Alder">Alder</option>
            <option value="Ash">Ash</option>
            <option value="Aspen">Aspen</option>
            <option value="Beech">Beech</option>
            <option value="Birch">Birch</option>
            <option value="BlackCherry">Black Cherry</option>
            <option value="BlackWalnut">Black Walnut</option>
            <option value="Cedar">Cedar</option>
            <option value="Cherry">Cherry</option>
            <option value="Chestnut">Chestnut</option>
            <option value="Cottonwood">Cottonwood</option>
            <option value="Cypress">Cypress</option>
            <option value="Dogwood">Dogwood</option>
            <option value="DouglasFir">Douglas Fir</option>
            <option value="Maple">Maple</option>
            <option value="NorwaySpruce">Norway Spruce</option>
            <option value="Oak">Oak</option>
            <option value="Pecan">Pecan</option>
            <option value="Pine">Pine</option>
            <option value="Poplar">Poplar</option>
            <option value="RedMaple">Red Maple</option>
            <option value="RedOak">Red Oak</option>
            <option value="RedSpruce">Red Spruce</option>
            <option value="Redwood">Redwood</option>
            <option value="Sassafras">Sassafras</option>
            <option value="Spruce">Spruce</option>
            <option value="Sweetgum">Sweetgum</option>
            <option value="Sycamore">Sycamore</option>
            <option value="Teak">Teak</option>
            <option value="Walnut">Walnut</option>
            <option value="WhiteBirch">White Birch</option>
            <option value="WhiteCedar">White Cedar</option>
            <option value="Willow">Willow</option>
            <option value="YellowBirch">Yellow Birch</option>
            <option value="YellowCedar">Yellow Cedar</option>
            <option value="YellowPoplar">Yellow Poplar</option>



        </select>
    </span>
</div>





<div class="w3_agileits_main_grid w3l_main_grid">
    <span class="agileits_grid">
        <label for="tree_origin">Tree Origin</label>
        <select name="tree_origin" id="tree_origin" style="outline: none;
    width: 68%;
    background: rgba(255, 255, 255, 0.17);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(152, 149, 149, 0.42);" required="" >
        <option value="" disabled selected>Select Tree Location</option>
<option value="BorealForest">Boreal Forest</option>
<option value="CentralForest">Central Forest</option>
<option value="EasternWoodland">Eastern Woodland</option>
<option value="NorthernForest">Northern Forest</option>
<option value="RockyMountains">Rocky Mountains</option>


        </select>
    </span>
</div>



						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Wood Color</label>
								<select name="wood_color" style="outline: none;
    width: 68%;
    background: rgba(255, 255, 255, 0.17);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(152, 149, 149, 0.42);">
									<option value="none" selected="" disabled="">Select Wood Color</option>
									<option value="lightbrown">Light Brown</option>
									<option value="darkbrown">Dark Brown</option>
									<option value="reddishbrown">Reddish Brown</option>
									<option value="yellowishbrown">Yellowish Brown</option>
									<option value="gray">Gray</option>
									<option value="goldenbrown">Gloden Brown</option>
									<option value="darkred">Dark Red</option>
									<option value="lightred">Light Red</option>

								</select>
							</span>
						</div>



						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Wood Grain Pattern</label>
								<select name="wood_grain_pattern" style="outline: none;
    width: 68%;
    background: rgba(255, 255, 255, 0.17);
    color: #fff;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(152, 149, 149, 0.42);">
									<option value="none" selected="" disabled="">Select Wood Grain Pattern</option>
									<option value="straight">Straight</option>
									<option value="interlocked">Interlocked</option>
									<option value="spiral">Spiral</option>


								</select>
							</span>
						</div>



					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" style="margin-left:-400px;" value="Upload">



							<div class="w3_main_grid_left">
       <a href="/scientist_home/"> <input type="button" value="Back" style="outline: none;
            padding: 10px 0;
            width: 30%;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            background: #00a4e4;
            border: none;
            cursor: pointer;
            margin-top:-10px;
            margin-left:360px;
            font-family: 'Roboto', sans-serif;"></a>
    </div>

						</div>

					</div>



				</form>

			</div>
		<!-- Calendar -->

		<!-- //Calendar -->

		</div>
	</div>
	</div>
<!-- //footer -->
	<script src="{% static 'scientist/scientist_home/js/jquery-2.1.4.min.js' %}"></script>
	<!-- //jquery -->

	<script src="{% static 'scientist/scientist_home/js/bootstrap.js' %}"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!--  light box js -->
	<script src="{% static 'scientist/scientist_home/js/lightbox-plus-jquery.min.js' %}"></script>
	<!-- //light box js-->

	<!-- stats numscroller-js-file -->
	<script src="{% static 'scientist/scientist_home/js/numscroller-1.0.js' %}"></script>
	<!-- //stats numscroller-js-file -->

	<!-- Baneer-js -->
	<script src="{% static 'scientist/scientist_home/js/responsiveslides.min.js' %}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<!-- //Baneer-js -->

	<!-- navigation -->
	<script>
		(function ($) {
			// Menu Functions
			$(document).ready(function () {
				$('#menuToggle').click(function (e) {
					var $parent = $(this).parent('.menu');
					$parent.toggleClass("open");
					var navState = $parent.hasClass('open') ? "hide" : "show";
					$(this).attr("title", navState + " navigation");
					// Set the timeout to the animation length in the CSS.
					setTimeout(function () {
						console.log("timeout set");
						$('#menuToggle > span').toggleClass("navClosed").toggleClass("navOpen");
					}, 200);
					e.preventDefault();
				});
			});
		})(jQuery);
	</script>
	<!-- //navigation -->

	<!-- pop-up(for video popup)-->
	<script src="{% static 'scientist/scientist_home/js/jquery.magnific-popup.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box (syllabus section video)-->

	<!-- video js (background) -->
	<script src="{% static 'scientist/scientist_home/js/jquery.vide.min.js' %}"></script>
	<!-- //video js (background) -->

	<!-- smoothscroll -->
	<script src="{% static 'scientist/scientist_home/js/SmoothScroll.min.js' %}"></script>
	<!-- //smoothscroll -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- start-smooth-scrolling -->
	<script src="{% static 'scientist/scientist_home/js/move-top.js' %}"></script>
	<script src="{% static 'scientist/scientist_home/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth scrolling-bottom-to-top -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});
	</script>
	<a href="#" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //smooth scrolling-bottom-to-top -->

	<!-- flexSlider (for testimonials) -->
	<script defer src="{% static 'scientist/scientist_home/js/jquery.flexslider.js' %}"></script>
	<script>
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
</body>
</html>